/*Ian Sullivan, November 30, 2022*/
.color, legend{
    color: lime;
}

p{
    color: lime;
}

.right{
    width: 100%;

   
} 

.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.phone{
    margin-right: 10px;
}

.email{
    margin-right: 10px;
}

input:focus{
    font-size: 1em;
    padding: 5px;
    border: 3px solid lime;
    outline: none;
    transition: all 0.25s linear;
}