.banner{
    width: 100%;
    height: auto;
}

html, body{
    margin: 0;
    padding: 0;
}

html{
    background-color: black;
}

p{
    color: lime;
}

h1, h2{
    color: lime;
}

footer{
    color: lime;
}

li{
    color: lime;
}

a{
    color: lime;
}

